{% extends 'EMS/base1.html' %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'EMS/register.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="text-center text-yellow"><h1>Register Yourself</h1></div>
  <div class="col-lg-6 offset-lg-3">
    <form class="form" role="form" action="{% url "EMS:register" %}" method="post" accept-charset="UTF-8">
      {% csrf_token %}
      <small class="form-text help-text"><span class="asteriskField red-text">*</span>all fields are compulsory</small>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.first_name.errors }}</span>
        </div>
        <label class="text-yellow" for="first_name">Name:</label>
        <input name="first_name" type="text" class="form-control" id="first_name" placeholder="First Name" autofocus required>
      </div>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.username.errors }}</span>
        </div>
        <label class="text-yellow" for="username">Service no.:</label>
        <input name="username" type="text" class="form-control" id="username" placeholder="Service No." required>
      </div>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.email.errors }}</span>
        </div>
        <label class="text-yellow" for="email">Email:</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.password.errors }}</span>
        </div>
        <label class="text-yellow" for="password">Passsword:</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.address.errors }}</span>
        </div>
        <label class="text-yellow" for="address">Address:</label>
        <input name="address" type="text" class="form-control" id="address" placeholder="Area name only..." required>
      </div>
      <div class="form-group">
        <div class="offset-lg-2 col-lg-10">
          <span class="text-danger small">{{ user_form.phone_no.errors }}</span>
        </div>
        <label class="text-yellow" for="address">Phone No.:</label>
        <input name="phone_no" type="text" class="form-control" id="phone_no" placeholder="Phone number" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-group-lg btn-primary btn-block">Register</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static "js/register.js" %}"></script>
{% endblock %}
