{% extends 'EMS/base1.html' %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'EMS/search-show.css' %}">
{% endblock %}

{% block search_active %}{% endblock %}

{% block body %}
<div class="container" id="monitor">
  <!-- {% for i in energy %}
  <p>Your consumption is {{ i.consumption }} time {{ i.timestamp }}</p>
  {% endfor %} -->
  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>

</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static "js/Chart.bundle.min.js" %}"></script>

<script type="text/javascript">

var ctx = $("#myChart");

var data = {
  labels: [
    {% for x in xAxis %}
    "{{ x }}",
    {% endfor %}
  ],
  datasets: [{
    label: "in KWH's",
    data: [
      {% for i in consumption %}
      {{ i }},
      {% endfor %}
    ],
    backgroundColor: [
      'rgba(215, 191, 61, 0.55)',
    ],
    borderColor: [
      'rgba(255, 159, 64, 1)',
    ],
  }]
};

var options = {
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  },
  responsiveAnimationDuration: 100,
  title: {
    text: "{{query}} energy readings",
    display: true,
    fontSize: 20,
  },
  legend: {
    position: 'bottom',
    labels: {
      boxWidth: 40,
    },
  },
  animation: {
    duration: 1500,
    easing: 'easeInBounce',
  },
  elements: {
      line: {
        tension: 0,
        fill: true,
      },
      point: {
        radius: 4,
      }
  },
};

var myLineChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options : options
});

</script>
{% endblock %}
