{% extends 'EMS/base1.html' %}
{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'EMS/show.css' %}">
{% endblock %}

{% block monitor_active %}active{% endblock %}

{% block body %}
<div class="container" id="monitor">
  {% for i in energy %}
  <p>Your consumption is {{ i.consumption }} time {{ i.timestamp }}</p>
  {% endfor %}

  <canvas id="myChart"></canvas>

</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static "js/Chart.bundle.min.js" %}"></script>

<script type="text/javascript">

var ctx = $("#myChart");

var data = {
  // labels: ["January", "February", "March", "April", "May", "June", "July", "{{ name }}"],
  labels: [
    {% for i in time %}
    "{{ i }}",
    {% endfor %}
  ],
  datasets: [
    {
      label: "My First dataset",
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      // data: [65, 59, 80, 81, 56, 99, 88, {{ age }}],
      data: [
        {% for i in consumption %}
        {{ i }},
        {% endfor %}
      ],
      spanGaps: false,
    }
  ]
};

var options = {
  animation : {
    duration : 2000,
    easing : "easeOutCirc"
  },
  responsive: true,
  legend : {
    display : true,
    position : 'bottom',
    labels : {
      fontColor : 'red',
    },
  },
};

var myLineChart = new Chart(ctx, {
  type: 'line',
  data: data,
  options : options
});

</script>
{% endblock %}
