{% extends 'EMS/base1.html' %}

{% load staticfiles %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'EMS/user_profile.css' %}">
{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
<div class="container" id="user">
  <div class="jumbotron">
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Logged in Successfully</strong>
    </div>
    <h1 class="display-5 text-center" id="welcome">Welcome</h1>
    <h4 class="display-5 text-center" id="welcome">save world . save power . save money</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center notifications">
        <h3>Notifications</h3>
        <hr/>
      </div>
      <div class="col-md-6 text-center stats">
        <h3>Stats</h3>
        <hr/>
        <div class="row col-md-12">
          <p class="pull-left" id="stats-text1">You have consumed :</p>
        </div>
        <div class="col-md-12">
          <p id="stats-text2">{{ sum }}</p>
        </div>
        <div class="col-md-12">
          <p class="pull-right" id="stats-text3">till now.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jsfile %}
<script type="text/javascript" src="{% static "js/user-profile.js" %}"></script>
{% endblock %}
